
/* Reset CSS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  margin: 0;
  padding: 0;
}
/* Corpo da página */
body {
  overflow-x: hidden;
}

/* Corpo da página */
body {
 font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.6;
  background-color: #e7e2e2dc;
  color: #333;
  margin: 0; /* Remover qualquer margem do body */
  padding: 0; /* Remover qualquer preenchimento do body */
  width: 100%; /* Garantir que ocupe toda a largura da tela */
}

.header {
  display: flex;
  font-family: Georgia, 'Times New Roman', Times, serif;
  align-items: center;
  justify-content: space-between;
  padding: 20px; /* Remover qualquer preenchimento */
  background: linear-gradient(to right, rgba(137, 56, 224, 0.41), black);
  width: 100%; /* Garantir que ocupe toda a largura da tela */
  margin: 0 auto; /* Remove qualquer margem */
  border-radius: 8px; /* Remove arredondamento */
  overflow: hidden; /* Evita rolagem devido a elementos internos */
  width: 100vw; /* Faz com que ocupe toda a largura da viewport */
  max-width: 100%; /* Garante que não ultrapasse a largura total */
 
}



/* Estilização do título */
.titulo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
   color: white; 
  /* background: linear-gradient(to right, rgba(137, 56, 224, 0.41), black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  */
}

/* Logo */
.logomarca {
  width: 60px;
  height: auto;
  margin-right: 10px;
  border-radius: 45px;
}

/* Menu de navegação */
.nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0;
  margin: 0; /* Remove qualquer margem */
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: underline;
}

.nav a:hover {
  text-decoration: underline;
  color: #ffcc00;
}

/* Estilo do botão de ouvir */
.Ouvir button {
  padding: 8px 15px;
  font-size: 1rem;
  background-color: #216fc2b3;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
  padding: 5px; 
}

.Ouvir button:hover {
  background-color: #0056b3;
}

/* Acessibilidade e select */
.acessibilidade {
  padding-left: 0;
}

.acessibilidade select {
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* MAIN */
h2 {
  
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 0.5rem;
   font: bolder;
   text-align: center; /* Centraliza o texto horizontalmente */
   margin: 30px ; /* Remove margens padrão */}
   #video {
     display: block;
     margin: 0 auto; /* Centraliza o iframe horizontalmente */
     width: 70%; /* Ajusta o vídeo para 80% da largura da página (pode aumentar para 100%) */
     height: 400px; /* Define a altura fixa para o vídeo */
     max-width: 70%; /* Impede que o vídeo ultrapasse a largura da página */
     border-radius: 10px;
 }
 
 .welcome {
     background-color: #f6e4f14b;
     padding: 15px;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     margin-bottom: 40px;
     border-top: 2px solid  #ff00e150;
     border-bottom: 2px solid #ff00e150;

 }
 
 .welcome h3 {
     font-size: 1.3rem;
     color: black;
     margin-bottom: 30px;
     border-width: 20px;
 }
 
 .welcome p {
     font-size: 1.1rem;
     color: #555;
     line-height: 1.8;
 }
 p{
  font-family: "Montserrat", sans-serif;
   font-size: 1.1rem;
   color: black;
   line-height: 1.2; 
 }
 h3{
   font-family: 'Arial Narrow Bold', sans-serif;
   font-size: 1.3rem;
   font: bolder;
   text-align: center; /* Centraliza o texto horizontalmente */
   margin: 10px;
 
 }
.subTitulo{
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Arial Narrow Bold', sans-serif;
  text-align: center; /* Centraliza o texto horizontalmente */
}
.subTitulo2{
  text-align: center; /* Centraliza o texto horizontalmente */
  font-size: 1rem;
}

.pesquisa{
 
  text-align: center; /* Centraliza o texto horizontalmente */
  background-color: #f6e4f14b;
  border-top: 2px solid  #ff00e150;
  border-bottom: 2px solid #ff00e150;
  margin:20px 10px;
  border-radius: 10px;
  padding: 20px; 
}


/* Responsividade */
@media (max-width: 1024px) {
  .header {
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
  }

  .titulo {
    font-size: 1.4rem;
  }

  .nav ul {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
  }

  .titulo {
    font-size: 1.25rem;
  }

  .nav ul {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .logomarca {
    width: 50px;
  }

  .titulo {
    font-size: 1rem;
  }

  .nav a {
    font-size: 0.9rem;
  }

  .Ouvir button {
    font-size: 0.9rem;
  }
}

