
/* Reset CSS */

*{
  margin: 0;
  padding: 0;
 box-sizing: border-box;

}
html{
  font-style: 62.5%;
  /* corresponde a 10px */
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
}



/* Corpo da página */
body {
  
  font-size: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.5;
  background-color: #e7e2e2dc;
  color: #333;
  width: 100%; 
  box-sizing: border-box; 

}






