 *{
  margin: 0;
  padding: 0;
 box-sizing: border-box;

}

body, html {
  margin: 0;
  padding: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
  font-style: 62.5%;
  /* corresponde a 10px */
}

main{
  
    margin: 0;
   
}
body{
  
   font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
text-align: center;
margin: 2rem;
font-size: 1.2rem;
}

h4{
text-align: center;
margin: 0.9rem;
font-size: 1rem;

}
button{
  margin: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p{font-size: 1rem;
  color: black;
  line-height: 1.5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 1rem;}

h3{
text-align: center;
margin: 0.9rem;
font-size: 1rem;

}